<MudStack Row Spacing="3">
    @foreach (RunnerAbility ability in Abilities.Where(ability => ability.Active))
    {
        <div class="runner-ability-container">
            <div class="runner-ability">
                <img src="@ability.Properties.Icon" alt="@ability.Properties.DisplayName">
                <div class="ability-name">@ability.Properties.DisplayName</div>
                @if (ability.Properties.IsUnlimitedMoveCount == false)
                {
                    <div class="ability-lost-count">@ability.LostCount</div>
                }
            </div>
        </div>
    }
</MudStack>
