@page "/"

<PageTitle>Дом</PageTitle>

<h2>Добро пожаловать!</h2>

<div class="content-section">
    <h3>(Не)забавные факты</h3>
    <ul>
        <li>Первый известный лабиринт был построен в Египте около 4 тысяч лет назад. Он был частью комплекса пирамид в Хаваре.</li>
        <li>Лабиринты часто путают с мазаками, но лабиринт имеет только один путь к центру, тогда как мазаки содержат множество путей и тупиков.</li>
        <li>Легендарный лабиринт Минотавра, который, как говорят, находился на Крите, был спроектирован архитектором Дедалом.</li>
        <li>Лабиринты использовались в древних культурах для различных религиозных и ритуальных целей, таких как медитация и посвящение.</li>
        <li>В Европе в эпоху Средневековья многие соборы и церкви имели лабиринты на полу, которые паломники проходили на коленях.</li>
        <li>Существует множество видов лабиринтов, включая классические круговые, трехмерные и даже живые лабиринты, созданные из растений.</li>
        <li>Современные лабиринты часто создаются для развлечений, таких как парки развлечений, или в терапевтических целях, чтобы помочь людям расслабиться.</li>
    </ul>

    <h3>(Не)смешные шутки</h3>
    <p class="joke">Почему лабиринты всегда такие спокойные? Потому что они знают, что все пути ведут к выходу!</p>
    <p class="joke">Как называется человек, который постоянно застревает в лабиринте? Лабиринтоход!</p>
    <p class="joke">Что сказал один лабиринт другому? "Пойдем по кружке кофе, но не заблудись по пути!"</p>
    <p class="joke">Почему программисты не боятся лабиринтов? Потому что они всегда найдут выход с помощью алгоритма!</p>
</div>