.workspace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .workspace {
        flex-direction: column;
    }
}

.info-panel {
    width: 100%;
}

.field {
    position: relative;
    margin: auto;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.field:hover {
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
}

.control-panel {
}
