.workspace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .workspace {
        flex-direction: column;
    }
}

.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-panel {
    min-height: 140px;
}

.ability-panel {
    min-height: 100px;
}

.score {
   width: 100%;
}

.field {
    margin: 40px 40px 20px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.field:hover {
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
}

.control-panel {
}
