<div class="bolt" style="
    background:@(Color);
    left: @(Math.Min(X1, X2))px;
    top: @(Math.Min(Y1, Y2))px;
    width: @(Math.Abs(X2 - X1) + Width)px;
    height: @(Math.Abs(Y2 - Y1) + Width)px">
</div>

@code {

    [Parameter]
    [EditorRequired]
    public int X1 { get; set; }

    [Parameter]
    [EditorRequired]
    public int X2 { get; set; }

    [Parameter]
    [EditorRequired]
    public int Y1 { get; set; }

    [Parameter]
    [EditorRequired]
    public int Y2 { get; set; }

    [Parameter]
    [EditorRequired]
    public int Width { get; set; }

    [Parameter]
    [EditorRequired]
    public required string Color { get; set; }

}
